@import 'theme/_mixins';

$elements: 11;

.offerContainerHide{
    display: none;
}

.offerContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .backgroundBlock{
        position: absolute;
        width: 100%;
        height: 10vh;
        transition: all 1s linear 0ms;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        @for $i from 0 to $elements {
            &:nth-child(#{$i}) {
                top: $i * 10 - 10vh;
            }
        }
        
        &:nth-child(2n) {
            left: 200vw;
        }
        &:nth-child(2n+1) {
            left: -200vw;
        }

        p{
            color: white;
            text-align: center;
            text-transform: uppercase;
            font-size: 3em;
        }
    }

    .contentContainerHide{
        display: none;
    }
    .contentContainer{
        display: block;
        position: relative;
        height: 100vh;

        z-index: 1;
        
         .contentBlock{
            position: absolute;
            height: 5vw;
            display: flex;
            align-items: center;
            padding: 0;
            transition: all 1s linear 0ms;

            &:nth-child(1){
                width: 28.6vw;
                top: 6.55vw;
                left: -30vw;   
                justify-content: flex-end;
                text-align: right;

                animation: page-label 1000ms linear forwards;
            }
            &:nth-child(2){
                width: 49vw;
                height: 11.6vw;
                top: 13.1vw;
                right: -55vw; 
                padding-right: 1vw;

                align-items: flex-start;

                animation: page-text 1000ms linear forwards;
                animation-delay: 1200ms;

                p{
                    margin-top: 0;
                }
            }
            &:nth-child(3){
                width: 49vw;
                height: 24.5vw;
                left: -60vw;
                bottom: 0;

                background: none;

                justify-content: space-around;
                align-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;

                animation: billboard 1000ms linear forwards;
                animation-delay: 1700ms;
            }
            &:nth-child(4){
                width: 38.8vw;
                height: 18.4vw;
                bottom: -22vw;
                right: 0;
                padding-bottom: 1vw;
                padding-right: 1vw;
                justify-content: center;
                align-items: flex-start;
                flex-wrap: wrap;

                transition: all 300ms linear 0ms;
                animation: case-info 1000ms linear forwards;
                animation-delay: 1500ms;

                .text{
                    width: 100%;
                    font-size: 2vw;
                    text-align: center;
                    color: #000;
                }
            }
            .caseBlock{
                height: 95%;
                display: flex;
                background-color: #fff;
                justify-content: center;
                border: 2px solid #fff;
                overflow: hidden;

                video{
                    height: 100%;
                }
            }

            .plText{
                font-size: 1.3vw;
                width: 100%;
                color: #000;
                text-align: left;
            }

            .controls{
                position: absolute;
                width: 100%;
                top: 50%;
                
                >:nth-child(n){
                    transition: all 600ms linear 0ms!important;
                }

                >:nth-child(1){
                    right: -6.1vw;
                    top: calc(50% - 62px);
                }
                >:nth-child(2){
                    transform: rotate(180deg);
                    left: -6.1vw;
                    top: calc(50% - 62px);
                }
            }

            .animateControls{
                @extend .controls;
                
                >:nth-child(1){
                    right: -11.9vw;
                }
                >:nth-child(2){
                    left: -11.9vw;
                }
            }



            .transformationBlock{
                position: relative;
                width: 100%;
                height: 100%;

                z-index: 2;
                transform-style: preserve-3d;
                transition: all 1100ms ease-in-out 0ms;
                
                .side {
                    display: flex;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: #000;


                    justify-content: space-around;
                    align-content: center;
                    align-items: center;

                    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
                    backface-visibility: hidden;
                }

                .backSide{
                    @extend .side;

                    transform: translateZ(-24.5vw) rotateZ(180deg) rotateX(180deg);
                }
                .frontSide{
                    @extend .side;

                    transform: rotateX(180deg) rotateZ(180deg) rotateY(180deg) translateZ(24.5vw);
                }
                .leftSide{
                    @extend .side;

                    transform: translateX(-50%) rotateY(90deg) rotateX(180deg) rotateZ(180deg);
                }
                .rightSide{
                    @extend .side;
                    
                    transform: translateX(50%) rotateY(90deg);
                }
            }

            .listContainer{
                position: relative;
                height: 80%;
                width: 100%;

                display: flex;
                justify-content: center;

                color: #fff;

                .list{
                    position: relative;
                    height: 100%;
                    width: 50%;

                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    
                    p{
                       font-size: 1vw;
                       margin: 1vw 0 0;
                    }
                    img{
                        height: 25%;
                        margin: 1vw;
                    }
                }
            }
        }   

        .text{
            font-size: 5.5vw;
            text-transform: uppercase;

            @include textGlitch("blockName", 40, #000, none, #D84315, #2E7D32, 999999, 16, rect(0,900px,0,0));
        }
    }

    .caseContainerHide{
        display: none;
    }
    .caseContainer{
        position: absolute;
        top: 0;
        background-color: #116c1f;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .caseBlock{
            width: 23vw;
            height: 23vw;
            background-color: #fff;
            display: flex;
            justify-content: center;
        }
    }

    .hideContent{
        .backgroundBlock{
            left: 0;
        }
    }

    .drawerCaseBlock{
        width: 100%;
        height: 10vmax;

        video{
            width: 100%;
            height: 100%;
        }
    }
}

@keyframes billboard{
    to{
        left: 0;
    }
}

@keyframes page-label{
    to{
        left: 0;
    }
}

@keyframes page-text{
    to{
        right: 0;
    }
}

@keyframes case-info{
    to{
        bottom: 0;
    }
}