@import 'theme/_mixins';

.landScreen{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .companyName{
        text-align: center;
    }


    .glitch{
        color:black;
        font-size: 6.35vw;
        position:relative;
        margin-top: 4.5vw;
        
        @include textGlitch("companyName", 12, black, none, #D84315, #2E7D32, 999999, 16, rect(0,900px,0,0));
    }

    .glitchAnimated{
        @extend .glitch;

        font-size: 3.95vw;
        margin-top: 7.9vw;
    }

}

