.sectionHeader{
    font-size: 1.8vw;
    text-align: center;
    width: 100%;
    color: #fff;
}
.sectionSubheader{
    font-size: 1.4vw;
    text-align: center;
    width: 100%;
    color: #fff;
}
.plainText{
    font-size: 1.2vw;
    width: 100%;
    color: #fff;
    text-align: left;
}